body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  border-top: 1px solid #eee;
}

/* ページトップ */
#page-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    font-size: 80%;
}
#page-top a {
    background: #A09A9A;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 22px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}

a {
    color: #4e6591;
}

.nav>li>a {
    font-size: 15px;
}

.btn-primary {
    color: #777;
    background-color: #FFFFFF;
    border-color: rgb(121, 116, 130);
}

.btn-primary:hover {
    color: #080808;
    background-color: #E7E7E7;
    border-color: #BCC0C3;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right:  25px;
    }
}

@media (max-width: 767px) {

    .h2, h2 {
        font-size: 25px;
    }

    body {
        font-size: 12px;
    }

    #page-top a {
        width: 70px;
        padding: 15px 0;
    }

    .nav>li {
        padding: 0px 20px;
    }

    .glyphicon {
        font-size:18px;
    }

    .navbar-toggle {
        padding: 9px 12px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color:transparent;
    }

}

